body {
  background-color: #b87d4b;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 200px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #523a34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #a998d9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  border: 2px solid black;
  border-radius: 8px;
  width: 400px;
  margin: auto;
  padding: 10px;
  background-color: #e7f1e0;
}

.btn {
  margin: 5px;
  color: #e0fbfc;
  background-color: #293241;
  border-radius: 5px;
  padding: 10px;
  font: sans serif;
}

.btn:hover {
  cursor: pointer;
  background-color: #e0fbfc;
  color: #293241;
}
